/* h1 {
	text-align: center;
}

.floor-map {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.row {
	display: flex;
}

.seat {
	width: 50px;
	height: 50px;
	background-color: green;
	margin: 5px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.seat:hover {
	background-color: darkgreen;
}

.seat.selected {
	background-color: red;
	cursor: default;
} */
/* #calendar {
	font-family: Arial, sans-serif;
	width: 300px;
	margin: 0 auto;
  }
  
  .calendar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
	padding: 10px;
	font-weight: bold;
  }
  
  .calendar-day {
	display: inline-block;
	width: calc(100% / 7);
	text-align: center;
	padding: 10px;
  }
  
  .calendar-date {
	display: inline-block;
	width: calc(100% / 7);
	text-align: center;
	padding: 10px;
	color: #555;
  }
  
  .calendar-date.today {
	background-color: #4CAF50;
	color: #fff;
  } */

  *{
	padding: 0;
	margin:0;
  }

  .admin-container{
	display: flex;
  }
  .sidebar{
  height: 100vh;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.733);   
  transition: all 0.5s ease;
  }
  .sidebar.active{
	width: 60px;
	overflow: hidden;
  }
  .logo-container{
	text-align: center;
	padding-left: 10px;
	padding-top: 10px;
  }
  .logo-container a{
	text-decoration: none;
	color:whitesmoke
  }
  .logo-container a .company-name{
	font-size: 20px;
	padding-left:5px;
  }
  .sidebar.active .logo-container a .company-name{
	display: none;
  }
  .sidebar ul li{
	list-style-type: none;
	text-align: left;
}
.sidebar ul li a{
	display: block;
	color: whitesmoke;
	text-decoration: none;
	font-size: 22px;
  }

  .sidebar ul li .icon{
    padding:2px;
    text-align: center;
}
.sidebar ul li a .name{
    padding:0 5px;
}
  